@import "./variables.less";

/* all links */
#side-nav .nav > li > a {
  color: #999;
  border-left: 2px solid transparent;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 400;
}

/* nested links */
#side-nav .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
}

/* active & hover links */
#side-nav .nav > .active > a,
#side-nav .nav > li > a:hover,
#side-nav .nav > li > a:focus {
  color: @numbro-brand-color;
  text-decoration: none;
  background-color: transparent;
  border-left-color: @numbro-brand-color;
}

/* all active links */
#side-nav .nav > .active > a,
#side-nav .nav > .active:hover > a,
#side-nav .nav > .active:focus > a {
  font-weight: 700;
}

/* nested active links */
#side-nav .nav .nav > .active > a,
#side-nav .nav .nav > .active:hover > a,
#side-nav .nav .nav > .active:focus > a {
  font-weight: 500;
}

/* hide inactive nested list */
#side-nav .nav ul.nav {
  display: none;
}

/* show active nested list */
#side-nav .nav > .active > ul.nav {
  display: block;
}