@numbro-brand-color: #70A6C2;
@numbro-brand-color-dark: #578DA9;
@numbro-brand-color-darker: #3D738F;
@numbro-brand-color-complementary: white;

@numbro-brand-color-whitey: #CFE5F0;

@content-margin-sm: 20px;
@content-margin: 50px;