<script>
	$(function() {
		var countryCodes = {
			"cs-CZ": "Czech",
			"da-DK": "Danish",
			"de-CH": "German (Switzerland)",
			"de-DE": "German (Standard)",
			"en-GB": "English (United Kingdom)",
			"en-US": "English (United States)",
			"en-ZA": "English (South Africa)",
			"es": "Spanish (Spain)",
			"es-AR": "Spanish (Argentina)",
			"es-ES": "Spanish (Spain)",
			"et-EE": "Estonian (Estonia)",
			"fa-IR": "Farsi (Iran)",
			"fi-FI": "Finnish (Finland)",
			"fil-PH": "Filipino",
			"fr-CA": "French (Canada)",
			"fr-CH": "French (Switzerland)",
			"fr-FR": "French (France)",
			"hu-HU": "Hungarian (Hungary)",
			"it-IT": "Italian (Standard)",
			"ja-JP": "Japanese",
			"lv-LV": "Latvian (Latvia)",
			"nb-NO": "Norwegian (Norway)",
			"nl-BE": "Dutch (Belgium)",
			"nl-NL": "Dutch (The Netherlands)",
			"pl-PL": "Polish (Poland)",
			"pt-BR": "Portuguese (Brazil)",
			"pt-PT": "Portuguese (Portugal)",
			"ru-RU": "Russian (Russia)",
			"ru-UA": "Russian (Ukraine)",
			"sk-SK": "Slovak",
			"sv-SE": "Swedish",
			"th-TH": "Thai",
			"tr-TR": "Turkish",
			"uk-UA": "Ukrainian",
			"zh-CN": "Chinese (PRC)"
		};

		function getURLParameter(name) {
			return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [, ""])[1].replace(/\+/g, '%20')) || null
		}

		function initFromURL() {
			var lang = getURLParameter("lang") || "";
			var value = getURLParameter("value") || "";
			var format = getURLParameter("format") || "";

			if(lang && value && format) {
				$($("#input-numbro").get(0)).val(value);
				$($("#format-string-numbro").get(0)).val(format);

				var textarea = $($("#format-result").get(0));
				numbro.setLanguage(lang);
				textarea.val(numbro(value).format(format));
			}
		}

		$($("#format-numbro").get(0)).click(function(e) {
			e.preventDefault();

			var select = $("#lang-numbro").get(0);
			var selected = select.options[select.selectedIndex];
			var lang = selected.attributes["data-subtext"].value || "en-US";
			var value = $($("#input-numbro").get(0)).val() || 12345;
			var format = $($("#format-string-numbro").get(0)).val() || "0[.]00";
			var textarea = $($("#format-result").get(0));
			numbro.setLanguage(lang);
			textarea.val(numbro(value).format(format));

			var queryString = "lang=" + encodeURIComponent(lang) + "&value=" + encodeURIComponent(value) + "&format=" + encodeURIComponent(format);
			history && history.replaceState && history.replaceState({
				lang: lang,
				value: value,
				format: format
			}, "old-try-me.html", "old-try-me.html?" + queryString);

			return false;
		});

		//
		// INIT
		//

		initFromURL();

		Object.keys(numbro.languages()).sort().forEach(function(each) {
			var name = countryCodes[each] || "Unknown code";
			var node = "<option data-subtext=\"" + each + "\">" + name + "</option>";
			if (each === numbro.language()) {
				node = "<option selected=\"selected\" data-subtext=\"" + each + "\">" + name + "</option>";
			}

			$($("#lang-numbro").get(0)).append(node);
		});
		$('#lang-numbro').selectpicker();

	});
</script>
