<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="./index.html">Numbro</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				{% if page.url == "/getting-started.html" %}
				<li class="active"><a href="/getting-started.html">Getting Started <span class="sr-only">(current)</span></a></li>
				{% else %}
				<li><a href="/getting-started.html">Getting Started</a></li>
				{% endif %}

				{% if page.url == "/format.html" %}
				<li class="active"><a href="/format.html">Format <span class="sr-only">(current)</span></a></li>
				{% else %}
				<li><a href="/format.html">Format</a></li>
				{% endif %}

				{% if page.url == "/manipulate.html" %}
				<li class="active"><a href="/manipulate.html">Manipulate <span class="sr-only">(current)</span></a></li>
				{% else %}
				<li><a href="/manipulate.html">Manipulate</a></li>
				{% endif %}

				{% if page.url == "/languages.html" %}
				<li class="active"><a href="/languages.html">Languages <span class="sr-only">(current)</span></a></li>
				{% else %}
				<li><a href="/languages.html">Languages</a></li>
				{% endif %}
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">News</a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>